<div class="card">
  <h5>Bar Graph</h5>
  <%= render 'graphs/bar' %>
</div>

<div class="card">
  <h5>Total Volume - Last 5 Workouts</h5>
  <%= render 'graphs/radar' %>
</div>

<div class="card">
  <h5>Cumulative Volume</h5>
  <%= render 'graphs/polar' %>
</div>


<div class="card-meal">
  <%= render 'meals/slides' %>
</div>
<div class="card">Journal</div>
