<div class="container" id="accordion1" role="tablist">

<h3>Train</h3>
  <div class="card">
    <div class="card-header" role="tab" id="heading1One">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
          Radar
        </a>
      </h5>
    </div>
    <div id="collapse1One" class="collapse" role="tabpanel" aria-labelledby="heading1One" data-parent="#accordion1">
      <div class="card-body">
        <%= render 'graphs/radar' %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading1Two">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
          Bubble
        </a>
      </h5>
    </div>
    <div id="collapse1Two" class="collapse" role="tabpanel" aria-labelledby="heading1Two" data-parent="#accordion1">
      <div class="card-body">
        <%= render 'graphs/bubble' %>
      </div>
    </div>
  </div>

  <h3>Eat</h3>

  <div class="card">
    <div class="card-header" role="tab" id="heading1Three">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
          Meals
        </a>
      </h5>
    </div>
    <div id="collapse1Three" class="collapse" role="tabpanel" aria-labelledby="heading1Three" data-parent="#accordion1">
      <div class="card-body">
        <%= render 'meals/index' %>
      </div>
    </div>
  </div>

  <h3>Plan</h3>

  <div class="card">
    <div class="card-header" role="tab" id="heading1Four">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
          Log
        </a>
      </h5>
    </div>
    <div id="collapse1Four" class="collapse" role="tabpanel" aria-labelledby="heading1Four" data-parent="#accordion1">
      <div class="card-body">
        <%= render 'journals/index' %>
      </div>
    </div>
  </div>

</div>
