<div id="meal-carousel">
</div>

<a id="prev">&#10094;</a>
<a id="next">&#10095;</a>

<div class="box">
  <span class="plusMinus"></span>
  <span class="plusMinus"></span>
  <span class="plusMinus"></span>
</div>
