
  <div id="meal-carousel">
  </div>

  <i class="fa fa-chevron-left fa-3x"></i>
  <i class="fa fa-chevron-right fa-3x"></i>

  <div class="box">
    <span class="plusMinus"></span>
    <span class="plusMinus"></span>
    <span class="plusMinus"></span>
  </div>
