<div class="card-meal">
  
  <% @meals.each do |meal| %>
  <div class="meal fade">
    <%= image_tag meal.photo.url, class: "hidden", style: "width:100%" %>
    <div class="date">Meal Date</div>
  </div>
  <% end %>

  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>

  <div class="box">
    <span class="plusMinus"></span>
    <span class="plusMinus"></span>
    <span class="plusMinus"></span>
  </div>

</div>
