


<div class="container jumbotron">
  <%= simple_form_for current_user.meals.new, url: meals_path do |m| %>
<div class="col"><%= m.input :photo, as: :file, input_html:{class: "btn btn-primary"}, label: false %></div>
<div class="form-row">
  <div class="col"><%= m.button :submit, "Let's Eat!", class: "btn btn-primary" %></div>
</div>
<% end %>
</div>
