<% current_user.journals.each do |j| %>
<h3>Notes</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Entry</th>
  </tr>
  <tr>
    <td><%= j.title %></td>
    <td><%= j.entry.html_safe %></td>
  </tr>
</table>
<% end %>
