@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins_and_variables";

* {
  box-sizing: border-box;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}

body {
  background-color: white;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "header"
                       "main";
  zindex: 0;
}

h1 {
  float: left;
  font-family: $headers;
}

h5 {
  margin: 5px;
  font-family: $headers;
}

header {
  grid-area: header;
  background: $red;
}

main {
  grid-area: main;
  background: white;
  grid-gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

#new-button {
  position: fixed;
  height: 10px;
  width: 10px;
  background-color: $red;
  border-radius: 50%;
  box-shadow: $outShadow;
  bottom: 20px;
  right: 20px;
  padding-top: 50px;
  padding-left: 50px;
  z-index: 3;
}

#new-modal {
  height: 100%;
  width: 0;
  position: fixed;
  display: block;
  top: 0;
  right: 0px;
  padding-top: 50%;
  background: rgba(0,0,0,0.7);
  transition: 0.5s;
}

.menu-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: red;
}
