// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins_and_variables";

.fa-chevron-right {
  transition: 0.6s ease;

  &:hover {
    color: rgba(0,0,0,0.8);
  }
}

.fa-chevron-left {
  transition: 0.6s ease;

  &:hover {
    color: rgba(0,0,0,0.5);
  }
}

#meal-carousel {
  grid-area: 1 / 1 / span 9 / span 9;
  z-index: 2;
}
